 .p1{
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: lighter;
            font-style: italic;
            color: red;
            text-align: center;
            text-decoration: underline;
        }
    
.p2 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-style: italic;
    color:green;
    text-align: center;
    text-decoration: underline;
}

.p3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-style: italic;
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:32px ;
  }
  
